<div class="footers mt-5">
  <!-- Light Theme Footer Code  -->
  <footer
    class="footer text-center border-top bg-light text-dark py-3 border-3 d-none"
  >
    <div class="container">
      <div class="mb-3 d-flex justify-content-center align-items-center gap-3">
        <a
          href="https://github.com/YashPandey1405/"
          class="text-dark"
          target="_blank"
        >
          <i class="fab fa-github fa-xl text-dark"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/yashpandey29/"
          class="text-dark"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-xl text-dark"></i>
        </a>
      </div>
      <p class="mb-1">&copy; Loginify-JWT Private Limited</p>
      <div>
        <a href="#" class="me-3 text-dark">Privacy</a>
        <a href="#" class="text-dark">Terms</a>
      </div>
    </div>
  </footer>

  <!-- Dark Theme Footer Code  -->
  <footer
    class="footer border-top border-3 text-center bg-dark text-white py-3"
  >
    <div class="container">
      <div class="mb-3 d-flex justify-content-center align-items-center gap-3">
        <a
          href="https://github.com/YashPandey1405/"
          class="text-white"
          target="_blank"
        >
          <i class="fab fa-github fa-xl"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/yashpandey29/"
          class="text-white"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-xl"></i>
        </a>
      </div>
      <p class="mb-1">&copy; Loginify-JWT Private Limited</p>
      <div>
        <a href="#" class="me-3 text-white">Privacy</a>
        <a href="#" class="text-white">Terms</a>
      </div>
    </div>
  </footer>
</div>
