<!-- NavBar Code For Light & Dark Theme-->
<nav
  class="navbar navbar-expand-lg border-bottom bg-body-tertiary mb-4 p-3 border-3"
>
  <div class="container-fluid">
    <!-- Logo & Name on the Left -->
    <a class="navbar-brand" href="/me">
      <i class="fas fa-feather-alt fa-xl" style="color: #1da1f2"></i>
      &nbsp; Loginify-JWT
    </a>

    <!-- Navbar Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto" style="font-size: 1.2rem">
        <!-- Adding Links Based On User Logged In Or Not -->
        <% if (!validUser) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <% } %> <% if (validUser) { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout"
            >Logout</a
          >
        </li>
        <% } %>

        <!-- Theme Toggle Icon -->
        <li class="nav-item">
          <button id="themeToggle" class="btn ms-2">
            <i id="themeIcon" class="fas fa-moon fa-2x"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
